body{
    background-color: rgb(161, 226, 246);
}

.loginContainer {
    margin-left: 50vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    height: 60vh;
    background-color: #e0f5e0;
    width: 50%;
    justify-content: center;
}
.loginForm {
    margin-top:8vh;
    display: flex;
    width: 40vh;
    flex-direction: column;
}
.title {
    display: flex;
    justify-content: center;
}
.input1 {
    margin: 10px;
}